*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
include

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# virtualenv
.Python

# Intellij
*.iml
.idea
atlassian-ide-plugin.xml

# OS X stuff
*.DS_Store
